<section class="wrap container">
  <div class="row justify-content-center text-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="">
        <h2>開發者專區</h2>
      </div>
      <div class="">
        <p class="text-inverse">透過 REST(Representational State Transfer) API
          的方式提供分析產生的各種專家建議、環境資訊、物聯網資訊等等，讓各種資訊系統利用資料進行開發研究。</p>
        <p class="text-inverse">可使用 Swagger 線上測試工具</p>
      </div>
      <div class="col-xs-12">
        <a class="btn btn-secondary"><span
          class="fa fa-file-text"></span>Swagger測試</a>
        <a href="#apidoc" class="btn btn-primary"><span
          class="fa fa-code">開發技術文件</span></a>
      </div>
    </div>
    <div class="col-sm-6 hidden-sm-down">
      <img class="img-fluid" src="assets/images/code.svg" style="max-height:300">
    </div>
  </div>
</section>

<section class="wrap container">
  <div class="row justify-content-center text-sm-center">
    <div class="col-xs-12 align-self-center">
      <h1 class="title text-xs-center">Swagger簡介</h1>
      <hr>
    </div>
    <h4>Swagger是一套由HTML+Javascript撰寫的REST
      API文件的框架從本平台的測試頁可了解到Swagger不僅僅提供API的規格資訊，也提供互動介面讓開發者可以直接輸入參數進行測試。</h4>
  </div>
</section>

<section class="wrap container">
  <div class="row justify-content-center text-sm-center">
    <div class="col-xs-12 align-self-center">
      <h1 class="title text-xs-center">開發技術文件</h1>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center text-sm-center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/user.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">使用者開發介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">經過資料擁有者授權後，共通平台的API使用者可對使用者資料進行管理與取用</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/iot.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">物聯網設備開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">經過設備擁有者的授權後，共通平台的API使用者可取得廠區設備感測器資料。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/map.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">場域開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">共通平台的API使用者可取得場域的相關資訊，如場地的設備列表或栽種作物資訊。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/docs.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">生產計畫開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">提供使用者建立當次栽種相關日程與基本資料，共通平台使用者可查詢到作物產品的生產者相關資料。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/database.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">知識庫開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">整合不同來源的農業相關資料，共通平台使用者可查詢平台知識庫種類及取得詳細資訊。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/comment.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">專家建議開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">使用者將相關數據傳入API，可獲得經由專家演算法所提供之最佳建議。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/calendar.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">栽培曆開放介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">使用者選擇栽種作物種類，API可產生專業的栽培曆。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/field.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">田間作業存取介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">提供API使用者紀錄、查詢及管理田間作業行為。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block d-flex flex-row">
          <img class="img-fluid" src="assets/images/people.png" style="max-width:50px; max-height: 50px"/>
          <h3 class="card-title">第三方介面存取介面</h3>
        </div>
        <div class="card-block">
          <p class="card-text">共通平台使用者可透過平台使用來自他系統的應用服務。</p>
          <a href="#" class="btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
