<section id="footer" class="wrap">
  <div class="container">
    <div class="row justify-content-center text-sm-center">
      <div class="col-xs-3">
        <img class="img-fluid" src="assets/images/agri-lite.png">
        <hr>
        <p>© 財團法人資訊工業策進會</p>
      </div>
      <div class="col-xs-3">
        <h5 class="title">首頁</h5>
        <ul class="">
          <li><a href="#service">服務與應用</a></li>
          <li><a href="#team">開發團隊</a></li>
          <li><a href="#contact">聯絡我們</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#privacyModal">隱私權聲明</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5 class="title">開發者專區</h5>
        <ul class="">
          <li><a href="/developers/swagger">Swagger測試</a></li>
          <li><a href="/apidocs/">開發技術文件</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5 class="title">技術支援</h5>
        <ul class="">
          <li><a href="/support">FAQ</a></li>
          <li><a href="/developers">開發者資源</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
