
  <section class="wrap container">
    <div class="row justify-content-center text-sm-center">
      <div class="col-xs-12 col-md-6 align-self-center">
        <h1 class="">農業生產力4.0共通平台</h1>
        <h3 class="">智慧生產．數位服務</h3>
        <br>
        <a href="/developer" class="btn btn-primary btn-lg">立即前往使用</a>
      </div>
    </div>
  </section>

  <section class="wrap container-fluid intro">
    <div class="row justify-content-center text-sm-center">
      <div class="col-xs-12 col-md-6 align-self-center">
        <h1 class="title">大數據</h1>
        <hr>
        <h4 class="subtitle">匯集多方感測資料</h4>
        <h4 class="subtitle">實現多元化數位農業應用平台</h4>
      </div>
      <div class="hidden-sm-down col-md-6 align-self-center">
        <img class="img-fluid" src="assets/images/bigdata1.svg"/>
      </div>
    </div>

    <div class="row justify-content-center text-sm-center">
      <div class="hidden-sm-down col-md-6 align-self-center">
        <img class="img-fluid" src="assets/images/openapi.svg"/>
      </div>
      <div class="col-xs-12 col-md-6 align-self-center">
        <h1 class="title">OPEN API</h1>
        <hr>
        <h4 class="subtitle">整合溝通跨域據據，建立共通系統機制</h4>
        <h4 class="subtitle">提供易用介接資料，增進資料價值、利用性和透明化</h4>
        <h4 class="subtitle">促成跨產業協同合作與服務創新</h4>
      </div>
    </div>

    <div class="row justify-content-center text-sm-center">
      <div class="col-xs-12 col-md-6 align-self-center">
        <h1 class="title">加值應用</h1>
        <hr>
        <h4 class="subtitle">挖掘有效訊息，做出及時決策</h4>
        <h4 class="subtitle">即時監控數據，預測未來趨勢</h4>
        <h4 class="subtitle">發揮無限創意，加速產業升級</h4>
      </div>
      <div class="hidden-sm-down col-md-6 align-self-center">
        <img class="img-fluid" src="assets/images/valueadded2.svg"/>
      </div>
    </div>

    <div class="row justify-content-center text-sm-center">
      <div class="hidden-sm-down col-md-6 align-self-center">
        <img class="img-fluid" src="/assets/images/dashboard.svg"/>
      </div>
      <div class="col-xs-12 col-md-6 align-self-center">
        <h1 class="title">資料視覺化</h1>
        <hr>
        <h4 class="subtitle">善用平台資料，強化數據可閱讀性</h4>
        <h4 class="subtitle">提升農業品質，滿足產業需求</h4>
        <h4 class="subtitle">藉由案例分析，進行業務流程管理</h4>
      </div>
    </div>
  </section>

  <section class="call-to-action container-fluid">
    <div class="row justify-content-center text-sm-center">
      <div class="col-xs-12 col-md-6 align-self-center">
        <h2 class="subtitle">立即使用！</h2>
        <hr>
        <h5 class="subtitle">取得APIs，發掘與創造更多應用</h5>
        <a href="#" class="btn btn-primary">
          &nbsp;前往開發者專區</a>
      </div>
    </div>
  </section>

  <section id="team" class="wrap  container-fluid team">
    <div class="row justify-content-center text-sm-center">
      <h1 class="title">關於我們</h1>
      <p>農業生產力 4.0 共通平台匯集相關農業大數據資料，其目的是透過共通平台之 Open API 機制，讓第三方資訊開發業者授權使用，開發資訊業者僅需了解 OPEN API
        如何取用，則可以快速開發其欲開發之功能，無須花時間建立後端資料庫與相關資料之取的，以期延伸出更多的農業創新應用。
      </p>

      <div class="col-md-4 align-self-center">
        <div class="card">
          <img class="card-img-top mx-auto " src="assets/images/logo01.png" width="50" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">行政院農業委員會農糧署</p>
            <div class="social">
              <a class="tw" href="http://www.tari.gov.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
              <a class="fb" href="https://zh-tw.facebook.com"><i class="fa fa-facebook fb" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="card">
          <img class="card-img-top mx-auto " src="assets/images/logo02.png" width="50" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">行政院農業委員會農業試驗所</p>
            <div class="social">
              <a class="tw" href="http://www.afa.gov.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
              <a class="fb" href="https://zh-tw.facebook.com/public/農糧署"><i class="fa fa-facebook fb"
                                                                            aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="card">
          <img class="card-img-top mx-auto " src="assets/images/logo03.png" width="50" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">財團法人資訊工業策進會</p>
            <div class="social">
              <a class="tw" href="http://www.iii.org.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
              <a class="fb" href="https://zh-tw.facebook.com/weloveIII/"><i class="fa fa-facebook fb"
                                                                            aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="wrap container-fluid contact">
    <div class="row justify-content-center text-sm-center">
      <div class="col-md-6 align-self-center">
        <h4 class="">問題反饋與合作提案</h4>
        <hr>
        <p>若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
      </div>
      <div class="col-md-6 align-self-center">
        <h4>聯絡我們</h4>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="name" name="name"
                   placeholder="名稱 *" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control input-lg" id="email" name="email"
                   placeholder="信箱 *" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="寫下您的問題" style="height: 84px;"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-embossed btn-wide"><span
            class="fui-mail"></span>
            送出
          </button>
        </form>
      </div>
    </div>
  </section>
